<?xml version="1.0"?>
<config>
    <global>
        <models>
            <weather>
                <class>Magex_Weather_Model</class>
            </weather>
          <salesrule>
              <rewrite>
                  <rule_condition_address>Magex_Weather_Model_Rule_Condition_Address</rule_condition_address>
              </rewrite>
          </salesrule>
       </models>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <magex_weather>
                                            <title>Magex Weather</title>
                                            <sort_order>50</sort_order>
                                        </magex_weather>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>